.root{
    -fx-background-color:Wheat;
    -fx-alignment:center;
    -fx-background-radius: 100;

}
.label{
    -fx-font-size:18pt;
    -fx-font:bold 10pt "Arial";
    -fx-padding:10
}
.button
{
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);
    -fx-border-radius:20;
    -fx-font: bold 10pt "Arial";
}

.warning-text
{
    -fx-font-size: 24pt;
    -fx-font: 10pt "Arial";
    -fx-color: red;
}

.title
{
    -fx-font: bold 20pt "Arial";
    -fx-effect:dropshadow(one-pass-box,GREEN,8,0.0,2,0);

}